
  <app-header></app-header>
  <div class="container-fluid"style= "height: 100%; ">
    <div class="container mt-5 h-100" style="margin-top: 40%;">
      <div style="margin-left:12.5rem;">
        <div class="card" style="border-radius: 1rem; width: 46rem;">
          <div class="row">
            <div class="col-6  d-none d-md-block"style="border-radius: 1rem;">
              <img src="../../assets/Simple-kanban-board-.jpg"
                alt="login form"  style="border-radius: 1rem 0 0 1rem;height: 100%;width: 100%;" />
            </div>
            <div class="col-6 d-flex align-items-center" >
              <div class="card-body lg-5 text-black">

                <form [formGroup]="loginForm">

                  <div class="d-flex align-items-center mb-1 pb-1">

                    <!-- <span class="h1 fw-bold mb-0">KANBAN <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3Y5MzQtbnVubnktMjEteC5qcGc.jpg"
                    alt="login icon" class="img-fluid" style="border-radius: 2px 2px; height: 30px; width: 30px;" /></span> -->
                  </div>

                  <h5 class="mt-2 p-2  text-black rounded" style="letter-spacing: 1px; text-align: center;"><h2><b>Lets go!!!</b></h2></h5>

                  <mat-form-field appearance="outline" style="width: 80%; margin-left: 10%;">
                    <mat-label>Email</mat-label>
                    <input type="email" id="form2Example17"  matInput type="email" placeholder="Email address" formControlName="email" name="email" class="form-control form-control-lg" [(ngModel)]="user.email"/>
                  </mat-form-field>

                  <mat-form-field appearance="outline" style="width: 80%;margin-top: 17px; margin-left: 10%;"> <!-- Use 'outline' appearance for box-style input -->
                    <mat-label>Password</mat-label>
                    <input type="password" id="form2Example27" matInput type="password" placeholder="Password" formControlName="password" name="password" class="form-control form-control-lg" [(ngModel)]="user.password" />
                  </mat-form-field>

                  <div class="pt-1 mb-4">
                    <a router-link="home"><button class="btn btn-dark btn-lg btn-block" style="margin-left: 10%;" id="glow-on-hover" type="button" (click)="login()">Login</button></a>

                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <div style="margin-left: 16rem; margin-top: 5rem;">
        <a href="#!" id="button2"  class="small text-muted">Terms of use |</a>
                  <a href="#!" id="button2"  class="small text-muted"> Privacy policy</a>
                </div>
      </div>
    </div>
  </div>

