<div style="width: 250px;">
    <h2 mat-dialog-title style="text-align: center;margin-top: -10px;">Personal Profile</h2>

    <mat-icon style="float: left;">account_circle</mat-icon><div style="margin-left: 30px;font-size: 15px;font-weight: 500;">{{profile.email}}</div>

    <!-- <i class="fa fa-person icon" style="font-size: 20px; margin-top: 10px;margin-left: -21px; float: left;" ></i> -->

    <!-- <i style="font-size: 20px; margin-top: 10px;margin-left: 5px; float: left;" ><mat-icon>person</mat-icon></i> -->

    <mat-icon style="float: left;margin-left: -25px;margin-top: 3%;">person</mat-icon><div style="margin-top: 10px;font-size: 14px;margin-left: 28px;">{{profile.name}}</div>
    <!-- <mat-icon style="float: left;margin-top: 3%;">person</mat-icon><div style="margin-top: 10px;font-size: 14px;margin-left: 28px;">{{profile.gender}}</div> -->

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
